$primary-color:blue;
$primary-color-text:white;
$bgc-nav:rgb(94, 94, 78);
$bgc-nav500px:orange;
$bgc-nav300px:green;
$color-text-title:red;
$nav-width:auto;
$nav-heigth:auto;
$cards-text-color: darkblue;
$text-color-title:red;
$cards-text-color-resp: rgb(128, 0, 6);